.places {
    max-width: 984px;
    padding: 92px 0 92px 0;
    grid-column: 2/3;
    justify-self: center;
}

@media screen and (max-width: 768px) {
    .places {
        padding: 88px 0 90px 0;
    }  
}

@media screen and (max-width: 561px) {
    .places {
        padding: 64px 0 66px 0;
        grid-column: 1/-1;
    }
}