.lead__big-title {
    font-weight: 900;
    font-size: 96px;
    line-height: 1.05;
    font-family: "Inter", Arial, sans-serif;

    max-width: 720px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .lead__big-title {
        font-size: clamp(40px, 12vw, 96px);
    }
}