.lead__photo-caption {
    margin: 8px 0 0 0;
    font: normal 10px/14px "Inter", Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .lead__photo-caption {
        margin: 0 0 0 24px;
    }
}

@media screen and (max-width: 425px) {   
    .lead__photo-caption {
        margin: 0 0 0 16px;
    }
}