.main {
    padding-top: 56px;
    display: grid;
    grid-template-columns: 48px auto 48px;
}

@media screen and (max-width: 1024px) {

    .main {
        padding-top: 48px;
        grid-template-columns: clamp(24px, 4.3vw, 48px) auto clamp(24px, 4.3vw, 48px);
    }

}

@media screen and (max-width: 768px) {

    .main {
        grid-template-columns: 24px auto 24px;
    }

}

@media screen and (max-width: 425px) {

    .main {
        grid-template-columns: 16px auto 16px;
    }

}
