.header {
    display: grid;
    grid-template-columns: minmax(142px, 1fr) 1fr;
    padding: 28px 48px 0;
}


@media screen and (max-width: 768px) { 

    .header {
<<<<<<< HEAD
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 425px) { 

    .header {
        padding: 16px 16px 0;
=======
        width: min(93.75%, 1184px);
>>>>>>> 90b06241d55c0d642c7401b634d6d4e5b094f35b
    }
}