.header {
    display: grid;
    grid-template-columns: minmax(142px, 1fr) 1fr;
    width: min(100%, 1184px);
    margin: 28px auto 0;
}

@media screen and (max-width: 1280px) { 

    .header {
        width: min(92%, 1184px);
    }
}