.header__langs {
    justify-self: end;
    align-items: end;
    margin: 0;
    padding: 0 0 6px 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}


@media screen and (max-width: 561px) {
    .header__langs {
        padding: 0 0 8px 0;
    }
}