.intro {
    padding: 92px 0 0;
    grid-column: 2/3;
    width: min(100%, 984px);
    justify-self: center;
}


@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        padding: 64px 0 0;
    }
}