.cover {
    background: url(../../images/cover-trains.jpg) no-repeat center center/cover;
    height: min(62.5vw, 740px);
    display: flex;
    width: 100%;
    grid-column: 2/3;
}

@media screen and (max-width: 1024px) {
    .cover {
        grid-column: 1/-1;
    }
}