.footer {
    margin: 90px auto 24px;
    width: min(100%, 1184px);
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
    .footer {
        width: min(92%, 1184px);
    }
}

@media screen and (max-width: 520px) {   
    .footer {
        display: block;
        margin: 64px auto 24px;
    }
}
