.footer {
    padding: 92px 48px 24px;
    max-width: 1184px;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {   
    .footer {
<<<<<<< HEAD
        padding: 88px 24px 24px;
=======
        width: min(93.75%, 1184px);
>>>>>>> 90b06241d55c0d642c7401b634d6d4e5b094f35b
    }
}


@media screen and (max-width: 561px) {   
    .footer {
        padding: 64px 16px 24px;
        display: block;
    }
}
