/* ---------- GENERAL ------------- */
body {
    background-color: #2A2C2F;
}

.page {
    color: white;
    max-width: 1280px;
    margin: 0 auto;

}

.font-text {
    font: normal 16px/26.08px "Inter", Arial, sans-serif;
}

.section-title {
    font: 900 54px/58px "Inter", Arial, sans-serif;
    margin: 0;
}


/* ---------- Section HEADER ------------- */
.header {
    display: grid;
    grid-template-columns: minmax(142px, 1fr) 1fr;
    width: min(100%, 1184px);
    margin: 28px auto 0;
}

.header__logo {
    width: 100%;
    max-width: 176px;
}

.header__langs {
    justify-self: end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.header__lang {
    font: normal 24px/28px "Inter", Arial, sans-serif;
}

.header__lang_active {
    border-bottom: 2px solid white;
}

.header__lang-link {
    color: inherit;
    text-decoration: none;
}


/* ---------- MAIN ------------- */
.main {
    max-width: 1280px;
    margin-top: 56px;
}

/* ---------- Section lead ------------- */
.lead {
    width: min(92%, 984px);
    text-align: center;
    margin: 0 auto;
}

.lead__big-title {
    font-weight: 900;
    font-size: clamp(40px, 12.5vw, 96px);
    line-height: 1.05;
    font-family: "Inter", Arial, sans-serif;

    max-width: 720px;
    margin: 0 auto;
}

.lead__subtitle {
    font-weight: normal;
    font-size: clamp(16px, 4vw, 30px);
    line-height: 1.21;
    font-family: "Inter", Arial, sans-serif;

    margin: auto;
    margin-top: clamp(16px, 4vw, 32px);
    margin-bottom: clamp(25px, 5.5vw, 64px);
    max-width: clamp(275px, 80vw, 500px);
}

.lead__image {
    width: 100%;
}

.lead__photo-caption {
    margin: 8px 0 0 0;
    font: normal 10px/14px "Inter", Arial, sans-serif;
    text-transform: uppercase;
    text-align: left;
}



/* ---------- Section intro ------------- */
.intro {
    margin: 92px auto 0;
    width: min(91%, 984px);
}

.intro__title {
    font: 900 54px/58px "Inter", Arial, sans-serif;
    margin: 0;
}

.intro__desc {
    margin: 40px 0 0 0;
    max-width: 690px;
}

.intro__list {
    margin: 33px 0 0 0;
    list-style-type: none;
    padding: 0;
    font: 400 12px/18px "Inter", Arial, sans-serif;
}


/* ---------- Section photo-grid ------------- */

.photo-grid {
    margin: 92px auto 0;
    width: min(100%, 1184px);
}

.photo-grid__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.photo-grid__item-img {
    width: 100%;
}


/* ---------- Section places ------------- */

.places {
    width: min(92%, 984px);
    margin: 92px auto 0;
}

.places__items {
    margin: 0;
    padding: 0;
}

.places__item {
    margin: 0 0 80px 0;
    padding: 0;
    display: grid;
    grid-template-columns: clamp(100px, 43vw, 460px) 1fr;
    row-gap: 48px;
    column-gap: clamp(28px, 3.2vw, 40px);
}

.places__image {
    width: 47%;
    float: left;
    margin-bottom: 18px;
    margin-right: clamp(28px, 3.2vw, 40px);
}

.places__title {
    font-size: clamp(32px, 5.47vw, 72px);
    line-height: 1.1;
    font-weight: 900;
    font-family: "Inter", Arial, sans-serif;

    margin: 0;
}

.places__description {
    grid-column: 1/3;
    font-size: 18px;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.6;
    font-weight: normal;
    font-family: "Inter", Arial, sans-serif;
}

.places__paragraph {
    margin: 0 0 27px 0;
}

.places__website {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.places_url-heading {
    font: normal 12px/1 "Inter", Arial, sans-serif;
    color: #AAAAAA;
    display: block;
    margin-bottom: 12px;
}

.places__link {
    font: normal 18px/22px "Inter", Arial, sans-serif;
    color: white;
}

.places__link:hover {
    opacity: 0.8;
}



/* ---------- Section cover ------------- */

.cover {
    margin: 90px auto 0;
    background: url(../images/cover-trains.jpg) no-repeat center center/cover;
    height: min(62.5vw, 740px);
    display: flex;
    width: min(100%, 1184px);
}

.cover__link {
    display: flex;
    text-decoration: none;
    color: white;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    gap: clamp(16px, 4vw, 32px);
    background-color: rgba(0, 0, 0, 0.3);
}

.cover__link:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.cover__title {
    margin: 0;

    font-weight: 900;
    font-size: clamp(25px, 10vw, 72px);
    line-height: 1.06;
    font-family: "Inter", Arial, sans-serif;

    max-width: 560px;
}

.cover__subtitle {
    margin: 0;

    font-weight: normal;
    font-size: clamp(14px, 4vw, 18px);
    line-height: 1.22;
    font-family: "Inter", Arial, sans-serif;

    width: clamp(270px, 80%, 360px);
}


/* ---------- Section footer ------------- */

.footer {
    margin: 90px auto 24px;
    width: min(100%, 1184px);
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.footer__nav {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
    list-style-type: none;
    flex-grow: 0.5;
    margin-left: auto;
    flex-wrap: wrap;
}

.footer__nav-link {
    text-decoration: none;
    color: white;
    font: normal 16px/18px "Inter", Arial, sans-serif;
}

.footer__copyright {
    font: normal 14px/16px "Inter", Arial, sans-serif;
    margin: 0;
    flex-grow: 0.5;
    text-align: right;
}




/* ---------- Media queries  ------------- */

@media screen and (max-width: 1280px) {

    .photo-grid {
        width: min(92%, 1184px);
    }

    .header {
        width: min(92%, 1184px);
    }

    .footer {
        width: min(92%, 1184px);
    }

}




@media screen and (max-width: 1024px) {


    /* ---------- MAIN ------------- */
    .main {
        margin-top: 48px;
    }


    /* ---------- Section photo-grid ------------- */

    .photo-grid__items {
        gap: 14px;
    }


}



@media screen and (max-width: 768px) {


    /* ---------- Section lEAD ------------- */

    .lead {
        width: 100%;
    }


    .lead__photo-caption {
        margin: 0 0 0 24px;
    }

    /* ---------- Section intro ------------- */
    .intro__title {
        font: 900 7vw/1.08 "Inter", Arial, sans-serif;
    }

    .intro {
        margin: 88px auto 0;
    }

    /* ---------- Section photo-grid ------------- */
    .photo-grid {
        margin: 88px auto 0;
        /* width: 92.5%; */
    }

    /* ---------- Section places ------------- */
    .places {
        margin: 88px auto 0;
    }
  
}


@media screen and (max-width: 520px) {

    /* ---------- Section footer ------------- */

   
    .footer__nav-link {
        font: normal 24px/24px "Inter", Arial, sans-serif;
    }

    .footer {
        display: block;
        margin: 64px auto 24px;
    }

    .footer__nav {
        display: block;
    }

    .footer__nav-item {
        margin-bottom: 32px;
    }

    .footer__nav-item:last-of-type {
        margin-bottom: 48px;
    }

    .footer__copyright {
        font: normal 14px/16px "Inter", Arial, sans-serif;
        margin: 0;
        text-align: left;
    } 


}



@media screen and (max-width: 425px) {

    /* ---------- Section HEADER ------------- */
    .header__lang {
        font: normal 5.6vw/1.1 "Inter", Arial, sans-serif;
    }


    /* ---------- Section lEAD ------------- */
    .lead__photo-caption {
        margin: 0 0 0 16px;
    }


    /* ---------- Section intro ------------- */
    .intro__title {
        font: 900 32px/35px "Inter", Arial, sans-serif;
    }

    .intro {
        margin: 64px auto 0;
    }

    /* ---------- Section photo-grid ------------- */
    .photo-grid {
        margin: 64px auto 0;
    }

    /* ---------- Section places ------------- */
    .places {
        margin: 64px auto 0;
    }

    .places__image {
        width: 100%;
        margin-bottom: 32px;
        margin-right: 0;
    }

    .places__title {
        grid-column: 1/3;
    }

    .places__website {
        grid-column: 1/3;
    }

    .places__item {
        row-gap: 32px;
    }

    /* ---------- Section cover ------------- */
    .cover {
        margin: 66px auto 0;
    }

}